<h1>Editing <%= @owner.first_last %></h1>

<%= render 'form' %>

<%= link_to 'Cancel Edit', @owner, class: "btn btn-default btn-xs" %> 
<%= link_to ' Back to All Owners', owners_path, class: "btn btn-default btn-xs fa fa-th" %>
