<h1>Editing <%= @vet.name %></h1>

<%= render 'form' %>

<%= link_to 'Cancel Edit', @vet, class: "btn btn-default btn-xs" %> |
<%= link_to 'Back to All Vets', vets_path, class: "btn btn-default btn-xs" %>
