</div><!--closes container-->

<div class="jumbotron">

  <h1>Daycare for Your Sweet Furbabies</h1>
  <h2>We take your doggies and we keep them...
  <span style="font-size: 60%;">it's not creepy, we promise?</span></h2>
  <h3>Services</h3>
  <ul>
    <li>play with dogs</li>
    <li>bathtimefuntime</li>
    <li>affixing bandanas</li>
    <li>meds</li>
    <li>superfunwalktimes</li>
    <li>read bedtime stories</li>

  </ul>

</div><!--closes jumbotron-->
