/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin-top: 35px;
 }

footer {
  text-align: center;
}

.footer-gray {
  background-color: #fafafa;
  margin-top: 10%;
  padding: 5% 10% 1% 10%;
}
.footer-black {
  color: white;
  background-color: #333;
  padding: 1% 5%;
}

 .fa-social {
  margin: 0 2% 5% 2%;
}

.name {
  font-style: italic; 
  color: gray; 
  text-align: right;
  font-size: 90%;
  font-family: cursive;
}

 .panel-heading a:hover  {
  text-decoration: none;
  color: #666666;
  background-color: transparent;

 }

.jumbotron {
  background-color: transparent;
  min-height: 400px;
  color: white;
  text-shadow: 2px 2px 2px #000;
  margin-top: -2em;
  background-image: image-url("dog-tron3.jpg");
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: top center;
}

.float-left {
  float: left;
  margin-bottom: 1em;
}

.float-right {
  float: right;
  margin-bottom: 1em;
}

.float-center {
  margin-bottom: 1em;
  text-align: center;
}

.panel-footer .fa {
  margin: 0px 11%;

}


.header-bk {
  background-image: url("h1_bk_dogs.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 200px;
  padding: 1em;
  color: black;
  /* text-shadow: 2px 2px 2px #000; */
}

.header-bk-dogs {
  background-image: url("h1_bk_dogs.jpg");
  background-color: #e5e5e1;
}

.header-bk-owners {
  background-image: url("h1_bk_owners.jpg");
  background-color: #dedacf;
}


.header-bk-vets {
  background-image: url("h1_bk_vets.jpg");
  background-color: #f8f5f3;
}


/* media query within a stylesheet */

@media (max-width: 450px) {
  .header-bk {
    background-image: none;
  }
}
