// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: -2em;
  background-image: url("dog-tron3.jpg");
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: top center;
}