<h1>Editing: <%= @product.name %></h1>

<%= render 'form' %>

<%= link_to 'Cance Edit', @product, class: "btn btn-default btn-xs" %> 
<%= link_to 'Back to All Products', products_path, class: "btn btn-default btn-xs" %>